@font-face {
    font-family: 'Palui SP';
    src: url('/fonts/PaluiSPDemo-Bold.ttf') format('truetype'); }

    body {
        font-family: 'Palui SP', sans-serif;
        color: white; /* Цвет текста - белый */
        background-color: black; /* Фоновый цвет - черный для контраста */
    }
    
    /* Стили для ссылок */
    a {
        color: white; /* Цвет ссылок - белый */
        text-decoration: none; /* Убираем нижнее подчеркивание */
    }
    
    /* Стили для ссылок при наведении */
    a:hover {
        color: red; /* Цвет ссылок при наведении - красный */
    }