@font-face {
    font-family: 'Palui SP';
    src: url('/fonts/PaluiSPDemo-Bold.ttf') format('truetype'); 
}

@font-face {
    font-family: 'Menlo-Regular';
    src: url('/fonts/Menlo-Regular.ttf') format('truetype');
}

body {
    font-family: 'Palui SP', sans-serif;
    background-color: #000;
    margin: 0;
    padding: 20px;
}

.search-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

#search-input, #search-button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    background-color: black;
    color: red;
    border: 1px solid gray;
    border-radius: 5px;
}

#search-input {
    width: 300px; /*Ширина поля поиска*/
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: #000;
    color: rgb(255, 0, 0);
}

.logo {
    height: 170px; /*Высота логотипа на десктопах*/
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    padding: 20px;
}

.block {
    background-color: #1a1a1a;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    width: calc(20% - 20px);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.block img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    display: block;
    margin: 0 auto;
}

.block p {
    margin: 5px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block a {
    color: white;
    text-decoration: none;
}

.block a:hover, .block a:focus {
    color: red;
}

::selection {
    background-color: #ff0000;
    color: aliceblue;
}

@media (max-width: 1200px) {
    .block { width: calc(25% - 20px); }
}

@media (max-width: 992px) {
    .block { width: calc(33.333% - 20px); }
}

@media (max-width: 768px) {
    .block { width: 100%; }
    .header {
        height: 80px;
        padding: 10px;
    }
    .header h1 {
        font-size: 1.5em;
    }
    .logo {
        height: 140px; /*Лого на планшетах*/
        width: 80%;
    }
}

@media (max-width: 480px) {
    .header {
        height: 60px; /*Уменьшение высоты заголовка на мобильных устройствах*/
        padding: 5px;
    }
    .header h1 {
        font-size: 1.2em; /*Уменьшение размер шрифта заголовка*/
    }
    .logo {
        height: 100px; /*Высота лого на мобилках*/
        width: 70%;
    }
}
